.modal-content {
    background: url(../images/bg.png) black repeat;
    background-size:100% 100%;
}

.modal-header {
    border: none;
    margin-bottom: 2em;
    padding: 2em;
}
p{
	color:white;
}
h4.modal-title {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}
.about h4{
	color:white;
}
.modal-body.modal-spa {
    padding: 0 1em 2em;
}

.about h3 {
    font-size: 2em;
    color:white;
}

.about-left img {
    width: 58%;
    border-width: 3px;
    padding: 5px;
    margin-left: 44%;
}

.about-right {
    padding: 0 3em;
}

ul.address {
    margin-top: 1.5em;
    border-top: 1px dashed #1d7288;
    padding-top: 0.5em;
}

ul.address li {
    display: block;
}

ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
    font-weight: 100;
}

ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 20%;
}

ul.address li ul.agileits-address-text li a {
    color: #fff;
    text-decoration: none;
}

ul.address li ul.agileits-address-text li a:hover {
    color: #0FF;
}

.about-text {
    padding: 3em 3em 0;
}
