body {
    margin: 0;
    background:linear-gradient(white,lightblue,lightblue,white);
}

.head {
    min-width: 600px;
    width: 100%;
    height: 18%;
}


/* 头部logo区域 */

.logo {
    float: left;
    width: 10%;
    height: 100%;
    margin-left: 3%;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-left: 5%;
}


/* 问候语 */

.greetings {
    line-height: 5;
    margin-right: 2%;
    font-size: 1.5em;
    float: right;
    width: 20%;
    height: 57%;
    text-align: center;
}

.content{
	width:100%;
	height:75%;
}
/* 内容左边导航条 */
.navigation {
    width: 20%;
    margin-left: 1%;
    font-size: 1.2em;
    font-weight: bold;
    float:left;
}
/* 订单列表区域 */
.order_list{
	width:79%;
	height:100%;
	float:right;
}