<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>吃货宝</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/business/business_center.css">
    <script>
    setTimeout(function() {
        document.getElementById('content').style.height = window.innerHeight + 'px';
    }, 20);
    </script>
</head>

<body>
    <div id="content">
        <div class="head">
            <div class="logo">
                <a href="goods_index.html"><img src="../../image/index/LOGO.png" alt="" /></a>
            </div>
            <div style="width:30%;height:100%;text-align: center;font-size:2em;color: red;margin-left: 21%;min-width:300px;float: left;line-height: 4;"><span>商家个人中心</span></div>
            <!-- 问候语 -->
            <div class="greetings">
                <span>欢迎您</span>&nbsp;<span class="business_user">你好</span></div>
        </div>
        <div class="content">
            <div class="navigation">
                <ul class="nav nav-pills nav-stacked" role="tablist" style="width: 100%">
                    <li role="presentation"><a href="#">店铺订单</a></li>
                    <li role="presentation"><a href="#">商家商品</a></li>
                    <li role="presentation"><a href="#">所有订单</a></li>
                    <li role="presentation"><a href="#">未接订单</a></li>
                    <li role="presentation"><a href="#">退款订单</a></li>
                    <li role="presentation"><a href="#">完成订单</a></li>
                </ul>
            </div>
            <div class="order_list" style="">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;font-size:1.8em;">订单汇总</div>
                    <!-- Table -->
                    <table class="table" style="text-align: center;">
                        <tr class="active">
                            <td>名称</td>
                            <td>单价(元)</td>
                            <td>数量(份)</td>
                            <td>总价(元)</td>
                            <td>下单时间</td>
                        </tr>
                        <tr class="success">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="warning">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="danger">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="info">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="success">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="warning">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="danger">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                        <tr class="info">
                            <td>烤鸭</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                        </tr>
                    </table>
                    <nav style="float: right;">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</body>

</html>
