<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="../../css/business/user_center.css">
    <link rel="stylesheet" type="text/css" href="../../css/business/shop.css">
    <style type="text/css">

    </style>
</head>

<body>
    <div id="content">
        <div class="head">
            <div class="logo">
                <a href="goods_index.html"><img src="../../image/index/LOGO.png" alt="LOGO" /></a>
            </div>
            <span style="    line-height: 4;margin-left: 10%;font-size: 1.5em;">商家名称</span>
            <!-- 商家公告 -->
            <div class="notice">商家公告
                <div style="background-color: white;height: 84%;">ssssssss</div>
            </div>
        </div>
        <!-- 筛选栏 -->
        <div class="screen-column">
            <span><a href="" onclick="">所有美食</a></span>
            <span><a href="" onclick="">评价</a></span>
            <span><a href="" onclick="">价格</a></span>
            <span><a href="" onclick="">销量</a></span>
        </div>
        <!-- 商品栏 -->
        <div class="goods-area">
            <div class="goods">
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
            </div>
            <div class="goods">
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
            </div>
            <div class="goods">
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
                <div class="goods-list">
                    <div class="goods-imformation"><img src="/image/business/food.jpeg"></div>
                    <div class="goods-imformation">
                        <span>烤鸭</span>
                        <br>
                        <span>100</span>
                    </div>
                    <div class="goods-imformation">
                        <button>加入购物车</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
    <script type="text/javascript">
    setTimeout(function() {
        document.getElementById('content').style.height = window.innerHeight + 'px';
    }, 20);
    </script>
</body>

</html>
