<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>吃货宝</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/client/customer_center.css">
</head>

<body>
    <div id="content">
        <div class="head">
            <div class="logo">
                <a href="goods_index.html"><img src="../../image/index/LOGO.png" alt="" /></a>
            </div>
            <div style="width:30%;height:100%;text-align: center;font-size:2em;color: red;margin-left: 21%;min-width:300px;float: left;line-height: 4;"><span>个人中心</span></div>
            <!-- 问候语 -->
            <div class="greetings">
                <span>欢迎您</span>&nbsp;<span class="business_user">XXX</span>&nbsp;<span><a href="user_center.html">我的资料</a></span></div>
        </div>
        <div class="content">
            <div class="navigation">
                <ul class="nav nav-pills nav-stacked" role="tablist" style="width: 100%">
                    <li role="presentation"><a href="#" onclick="all_order()">我的订单</a></li>
                    <li role="presentation"><a href="#" onclick="open_order()">带评价订单</a></li>
                    <li role="presentation"><a href="#" onclick="refund_order()">退单记录</a></li>
                </ul>
            </div>
            <div class="order_list">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;font-size:1.8em;" id="title1">订单汇总</div>
                    <!-- Table -->
                    <table class="table" style="text-align: center;" id="list">
                        <tr class="active">
                            <td>时间</td>
                            <td></td>
                            <td>商品</td>
                            <td>单价(元)</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                        <tr class="success">
                            <td>2016-11-11</td>
                            <td><img src="../../image/index/LOGO.png" class="table_img"></td>
                            <td>烤LOGO</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                            <td><a href="">订单详情</a>
                                <br>
                                <button class="btn btn-warning btn1">删除</button>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>2016-11-11</td>
                            <td><img src="../../image/index/LOGO.png" class="table_img"></td>
                            <td>烤LOGO</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                            <td><a href="">订单详情</a>
                                <br>
                                <button class="btn btn-warning btn1">删除</button>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>2016-11-11</td>
                            <td><img src="../../image/index/LOGO.png" class="table_img"></td>
                            <td>烤LOGO</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                            <td><a href="">订单详情</a>
                                <br>
                                <button class="btn1">删除</button>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>2016-11-11</td>
                            <td><img src="../../image/index/LOGO.png" class="table_img"></td>
                            <td>烤LOGO</td>
                            <td>100</td>
                            <td>2016-11-11</td>
                            <td><a href="">订单详情</a>
                                <br>
                                <button class="btn btn-warning btn1">删除</button>
                            </td>
                        </tr>
                    </table>
                    <nav style="float: right;">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../../script/client/customer_center.js"></script>
</body>

</html>
